#service{
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 20px;
}
.service h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #4da6ff;
}
.service .service_container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: auto;
}
.service .service_container .service_box{
    margin: 20px 0;
    flex: 2 2 35rem;
    box-sizing: 0 1rem 2rem;
    overflow: hidden; 
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1.0);
}
.service .service_container .service_box b{
    margin: 20px 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #4da6ff;
}
.service .service_container .service_box p{
    padding: 20px 20px;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.service .service_container .service_box button{
    color: #fff;
    border: 1px solid #4da6ff;
    background-color: #4da6ff;
    border-radius: 22px;
    padding: 10px 40px;
    margin: 0 230px;
}
.service .service_container .service_box button:hover{
    cursor: pointer;
}